@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Major+Mono+Display&family=Manuale&family=Open+Sans&family=Playfair+Display:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

:root {
    --white: #e8dbc5;
    --black: #3f292b;
    --purple: #9d44b5;
    --red: #F45B69;
    --light-red: #f88c95;
    --light-blue: #99FFF8;
    --grey: #E5E5E5;
    --white: #FFFFFF;

    --xs: 18px;
    --s: 24px;
    --m: 36px;
    --l: 48px;
}

body {
    margin: 0;
    font-family: 'Rowdies', Courier, monospace;
}

button {
    border-radius: 10px;
    font-weight: bold;
    font-size: var(--s);
    color: var(--light-blue);
    background-color: rgba(0,0,0,0);
    border: solid 3px var(--light-blue);;
    margin: 5px;
    padding: 7px;
}

button:hover {
    cursor: pointer;
}

.spacer {
    width: 100%;
    flex-grow: 100;
}

::placeholder {
    color: var(--purple);
    opacity: 0.5;
}

.icon:hover {
    cursor: pointer;
}