$white: #e8dbc5;
$black: #3f292b;
$purple: #9d44b5;
$light-purple: #c289d2;
$red: #f45b69;
$light-red: #f88c95;
$light-blue: #0affed;
$grey: #E5E5E5;
$white: #FFFFFF;

$xs: 18px;
$s: 24px;
$m: 36px;
$l: 48px;

:export {
  red: $red;
  lightRed: $light-red;
  purple: $purple;
  lightPurple: $light-purple;
}
